doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Trip-House
        link(rel="stylesheet", href="../styles/main.css")
        link(rel="stylesheet", href="../styles/top-section.css")
        link(rel="stylesheet", href="../styles/homes-section.css")
    body
        .wrapper
            include top-section.pug
            section.homes-section
                h2(class="homes-title") Homes guests loves
                .homes-panel
        script(src="../node_modules/jquery/dist/jquery.js" )
        script(src="../js/slick.min.js")
        script(src="../js/top-section-script.js" )
        script(src="../js/script.js" )
